<div class="ui grid">
  <div class="two wide column"></div>
  <div class="eight wide column">
    <div class="ui labeled button" tabindex="0">
      <div class="ui red button">
        <i class="heart icon"></i> 喜欢
      </div>
      <a class="ui basic red left pointing label">
        <%= post.likeCount %>
      </a>
    </div>
    <div class="ui labeled button" tabindex="0">
      <div class="ui basic blue button">
        <i class="fork icon"></i> 讨厌
      </div>
      <a class="ui basic left pointing blue label">
        <%= post.unlikeCount %>
      </a>
    </div>
  </div>
</div>