<div class="ui fixed fitted inverted borderless six item menu">
    <a href="#" class="item">其他</a>
    <a href="#" class="item">H5总结</a>
    <a href="#" class="item">前端</a>
    <a href="#" class="item">Node</a>
</div>